<h1>Somebody wants to book your flat</h1>

<p>
  Somebody wants to book you flat, you can see it <%= link_to "here", account_bookings_url %>
</p>
 <br>
  </p>
  <p>Jean Michelle, </p>
  <p>
  Ceo of AirBnB
</p>

