<h1>You email have been sent</h1>

<p>
  Thank you for booking through AirBnB
  You will receive an email when the owner respond to your request. In the mean time you can check all our booking <%= link_to "here", bookings_url %>.
  <br>
  </p>
  <p>Jean Michelle, </p>
  <p>
  Ceo of AirBnB
</p>
