.full-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.title-big {
  text-align: center;
}

.call-to-action {
padding: 20px;
}

#full-description {
margin-top: 50px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
width: 60%;
border-radius: $border-radius-base;
padding: 15px;
}