$gray-presentation: #E2E1E2;

#show{
  margin-top: 140px;
}


#full-description {
margin-top: 50px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
width: 60%;
border-radius: $border-radius-base;
padding: 15px;
}

.presentation {
  position: relative;
  border-radius: $border-radius-base;
  border: 1px solid $gray-presentation;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 70px;
  margin-bottom: 50px;
    &-header {
    padding-top: 10px;
      .presentation-button {
      float: right;
      }
    }
    .presentation-body {
      padding-top: 40px;
    }
}