
  <%= link_to(product) do %>
    <div class=" col-sm-4">
      <% if product.picture %>
        <%= image_tag product.picture.url(:medium) %>
      <% end %>
      <h4><%= product.title %></h4>
    </div>
  <% end %>
