<h2>Incoming bookings</h2>

<div class="container">

<div class="row table-title">
      <div class="col-xs-4">
        Your places
      </div>

      <div class="col-xs-2">
        Check-in
      </div>

      <div class="col-xs-2">
        Check-Out
      </div>

      <div class="col-xs-2">
        Accept
      </div>

      <div class="col-xs-2">
        Reject
      </div>
    </div>


  <% @bookings.each do | booking | %>
    <div class="row">
      <div class="col-xs-4">
        <%= booking.product.title %>
      </div>

      <div class="col-xs-2">
        <%= booking.check_in %>
      </div>

      <div class="col-xs-2">
        <!-- Simplify with a method in Booking model for check-out model -->
        <%= booking.check_in + booking.night %>
      </div>

      <!-- Need to discuss how to code accept / reject -->
      <%#= form_for(booking) do | f | %>
          <!-- <div class="col-xs-2"> -->
            <%#= f.hidden_field :status, value: true %>
            <%#= f.submit "Accept", class:'btn btn-success btn-mini' %>
          <!-- </div> -->

          <!-- <div class="col-xs-2"> -->
            <%#= f.hidden_field :status, value: false %>
            <%#= f.submit "Reject", class:'btn btn-danger btn-mini' %>
          <!-- </div> -->
      <%# end %>

    </div>
  <% end %>
</div>