/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */
 .button {
  border-bottom: 3px solid darken($blue, 10%);
  border-right: 2px solid darken($blue, 10%);
  &:active {
    border-bottom: none;
    border-right: 1px;
  }
 }
 .selected{
  background-color:darken($blue, 30%);
  border-bottom: 3px solid darken($blue, 40%);
  border-right: 2px solid darken($blue, 40%);
 }
