<div class="card">
  <%= image_tag product.picture.url(:medium), class: "card-img" %>
  <div class="card-label">
    <span><%= product.night_price %></span>
    <sup>$</sup>
  </div>
  <% if footer %>
    <div class="card-content">
      <p><%= link_to product.title, product_path(product) %></p>
    </div>
    <% else %>
    <div class="card-content row">
      <div class="col-sm-4">
        <img src="http://placehold.it/40x40" alt="profil picture">
      </div>
      <div class="col-sm-4">
        <p><%= product.owner.name %></p>
      </div>
    </div>
  <% end %>
</div>