<div class="bolow-navbar">
  <div class="container padded">
    <div class="row">

      <% @products.each do |product| %>
      <%= link_to(product) do %>
        <div class="col-xs-6 col-sm-4">
          <%= render "card", product: product, footer: true %>
        </div>
     <% end %>
     <% end %>
    </div>
  </div>
</div>