<div class="bellow-navbar">
  <div class="container" id="show">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <%= render "card", product: @product, footer: false %>
      </div>
      <div class="col-sm-5">
        <div class=" bg-white presentation">
          <div class="presentation-header">
            <h2><%= @product.title %></h2>
          </div>
          <div class="presentation-body">
            <p><strong>About this housing: </strong></p>
            <p><%= @product.description %></p>
          </div>
          <%= link_to 'send a request', new_product_booking_path(@product), class: "btn btn-primary presentation-button" %>
        </div>
      </div>
    </div>
  </div>
</div>

