<div class="wrapper">
<div class="container">
  <% if @product.picture %>
    <%= image_tag @product.picture.url(:medium) %>
  <% end %>
</div>

<div class="bg-white">
  <%= @product.title %>
  <%= link_to 'send a request', new_product_booking_path(@product) %>
</div>

<div class="bg-gray-lighter">
  <%= @product.description %>
</div>
</div>

